/**
 * Site-specific styles for TCamp.
 *
 * This file controls:
 * - site chrome (header/footer/jumbotron/etc.)
 * - form elements
 * - typography and colors
 * - all classes of page region
 *
 * General stuff comes from bootstrap.css
 * Site-specific layout comes from bootstrap-ext.css
 *
 */

/******************************
* Generic Styles for all pages
******************************/

/* fonts */
@font-face {
    font-family: 'ostrich';
    src: url('ostrich-bold-webfont.eot');
    src: url('ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ostrich-bold-webfont.woff') format('woff'),
         url('ostrich-bold-webfont.ttf') format('truetype'),
         url('ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
$display_family: 'ostrich', impact, sans-serif;
$heading_family: 'museo-slab', lucida, sans-serif;
$body_family: georgia, serif;

/* text colors */
$yellow: #e4aa09;
$red: #9b2c1d;
$darkred: #802416;
$orange: #ca6728;
$darkorange: #bc521e;
$teal: #438381;
$green: #829308;
$brown: #44331f;
$bodygray: #222;
$headinggray: #574227;
$lightgray: #ddd;
$lightergray: #f1f2ec;

/* background colors */
$bg_tan: #d7d4c4;
$bg_brandingbar: #f4f2e3;
$bg_page: #eef5ef;
$bg_feature: #cfdfd9;
$bg_contentarea: $lightergray;
$bg_contentfooter: #e1ecec;
$bg_footer: #d5e5e3;
$thead_odd: #e8c755;
$thead_even: #d9a322;
$tbody_odd: #fff;
$tbody_even: #fef7dc;

/* breakpoint definitions */
$bigscreen: 1200px;
$desktop: 980px;
$tabletlandscape: 979px;
$tabletprofile: 767px;
$phone: 480px;


/* background gradients */
@mixin horizontal_gradient($args, $url:"") {
  background-color: $color1;
  background-image: -webkit-linear-gradient(left, #{$args})#{$url}; /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(left, #{$args})#{$url}; /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(left, #{$args})#{$url}; /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to right, #{$args})#{$url}; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

@mixin vertical_gradient($args, $url:"") {
  // background-color: $color1;
  background-image: -webkit-linear-gradient(top, #{$args})#{$url}; /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #{$args})#{$url}; /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #{$args})#{$url}; /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #{$args})#{$url}; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

/* css3 junk */
@mixin shadow($dims:"1px 1px 1px 1px", $color:"#111", $inset:"") {
  -webkit-box-shadow: #{$inset} #{$dims} #{$color};
          box-shadow: #{$inset} #{$dims} #{$color};

}

@mixin radius($dims:"0") {
    -webkit-border-radius: #{$dims};
       -moz-border-radius: #{$dims};
            border-radius: #{$dims};
}

@mixin border_image($url, $offset, $repeat:"") {
    -webkit-border-image: url(#{$url}) $offset #{$repeat};
       -moz-border-image: url(#{$url}) $offset #{$repeat};
         -o-border-image: url(#{$url}) $offset #{$repeat};
            border-image: url(#{$url}) $offset fill #{$repeat};
}

/* horizontal space */
$infinity: 9999px;
$hbuffer: 20px;
$hgutter: 20px;
@mixin hpad {
    padding-left: $hbuffer;
    padding-right: $hbuffer;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* vertical space */
$vbuffer: 20px;
$vgutter: 40px;
@mixin vpad {
    padding-top: $vbuffer;
    padding-bottom: $vbuffer;
}

/* utilities */
@mixin dashed_line {
    content: '';
    display:block;
    height: 4px;
    background: #fff url(../images/dashed-border.png) repeat-x;
}
@mixin ribbon {
    &:before,
    &:after{
        display:block;
        content: '';
        position:absolute;
        bottom:0;
        width: 60%;
        height: 80px;
        left: -18px;
        background: transparent url(../images/ribbon-leftside.png) no-repeat 0 0;
    }
    &:after {
        right: -18px;
        left: auto;
        background: transparent url(../images/ribbon-rightside.png) no-repeat 100% 0;
    }
}
.hpad {@include hpad;}
.vpad {@include vpad;}
.module {
    @include vpad;
    margin-bottom: $vgutter;
}
.right-edge {
    margin-right: -$hgutter;
}
.stripe {
    @include hpad;
}
.divider-right { border-right: 2px dashed $lightgray; padding-right: $hgutter; margin-right: -$hgutter;}
.divider-left { border-left: 2px dashed $lightgray; padding-left: $hgutter; margin-left: -$hgutter;}

.well {
    @include radius(0);
    background: rgba(219, 219, 196, 0.6);
    border: 0;
    border-top: 3px solid #a3b059;
    border-bottom: 3px solid #a3b059;
    h3 a, h4 { font-style: italic; }
    h4 { font-weight: normal;}
    p { font-size: 16px; }
    padding-right: 5px;
    margin-bottom:0;
}

/* general */
html {
    background: $bg_footer;
}
body {
    // @include horizontal_gradient("#fff 0%, #{$bg_page} 30%, #{$bg_page} 70%, #fff 100%");
    background: $bg_footer;
    font-family: $body_family;
}
#content {
    background: $bg_contentarea;
}
h1, h2, h3, h4, h5, h6 {
    font: bold 19px/1.2 $body_family;
    color: $headinggray;
}
h1 {
    font-family: $display_family;
    font-weight: normal;
    font-size: 58px;
    line-height: 1.1;
}

h2, h3 {
    font-family: $heading_family;
    font-size: 32px;
    color: $teal;
}
h3 { font-size: 24px; color: $green; font-weight: normal; }

a {
    color: $orange;
    &:hover { color: $red; }
}

.btn, .btn-large, .btn-small {
    background: $yellow;
    font-family: $heading_family;
    border: 4px solid #fff;
    border-radius: 0.75em;
    text-transform: uppercase;
    line-height: 1.25em;
    padding: 0.6em;
    @include shadow(0 0 10px 0, rgba(0, 0, 0, 0.2));
    &:hover { background: $orange; }
    &.btn-primary {
        .icon { display: inline-block; }
        .icon-forward {
            width: 28px;
            height: 18px;
            background: transparent url(../images/btn-icon-chevrons.png) no-repeat 50% 50%;
            background-size: contain;
            position: relative;
            top: -3px;
            margin-bottom: -10px;
        }
    }
    &.btn-inverse {
        background: $red;
        &:hover{ background: $darkred; }
    }
}

.btn-large {
    &.btn-primary .icon-forward{ width: 38px; height: 24px; top: -7px; }
}

.btn-small {
    &.btn-primary .icon-forward { width: 25px; height: 16px; top: -2px; }
}

.img-polaroid {
    padding: 4px;
    background :#fff;
    border:none;
    @include shadow(0 0 6px 0, rgba(0, 0, 0, 0.25));
}

table { @include shadow(0 0 10px 0, rgba(0, 0, 0, 0.1)); }
table.table-striped {
    width: 100%;
    thead{
        tr {
            background-color: $thead_odd;
        }
        th {
            padding: 10px 0;
            font-family: $heading_family;
            font-size: 22px;
            @include shadow(0 0 6px 0, rgba(0, 0, 0, 0.2));
        }
        th:nth-child(even){ background-color: $thead_even; }
    }
    tbody{
        td { background-color: $tbody_odd; @include hpad; @include vpad; color: $headinggray; }
        td:nth-child(even) { background-color: $tbody_even; }
    }
}
.nav-tabs {
    border-bottom: 3px solid $bg_tan;
    & > li {
        font-family: $display_family;
        font-size: 42px;
        font-weight: 300;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        opacity: 0.7;
        border: none;
        position: relative;
        margin-bottom: 0;
        & > a {
            @include shadow(4px -4px 10px 0, rgba(0, 0, 0, 0.025));
            @include radius(0);
            padding: 10px $hbuffer;
            line-height: 1;
            background: #fff;
            border: none;
            &:hover, &:active, &:focus {
                background: #fff;
                color: $orange;
                border: none;
            }
        }
        &.active {
            opacity: 1;
            border: none;
            a {
                @include shadow(4px -4px 10px 0, rgba(0, 0, 0, 0.075));
                color: $orange;
                border: none;
                &:hover, &:active, &:focus {
                    background: #fff;
                    color: $orange;
                    border: none;
                }
            }
            &:after {
                content: '';
                border: 10px solid #fff;
                display: block;
                width: 0;
                height: 0;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-width: 0;
                position:absolute;
                left: 50%;
                margin-left: -10px;
            }
        }
    }
}

/* header */
.brandingbar {
    background: $bg_brandingbar;
    // @include horizontal_gradient(#fff 0%, #{$bg_tan} 20%, #{$bg_tan} 80%, $fff 100%);
    // @include shadow(0 0 2px 0, rgba(0, 0, 0, 0.025));
    &:after {
        display:block;
        height: 11px;
        background: #fff url(../images/arrow-border.png) repeat-x;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        content: '';
    }

    p { margin-bottom: 0; }

}

.sunlight-brand {
    padding: 20px;
    display:block;
    background: transparent url(../images/sunlight-brand.png) no-repeat 50% 50%;
    width: 160px;
}

.masthead {
    background: $bg_feature;
    .row, .row-fluid { @include vpad; }
    .pull-right { text-align: right; }
    h4 { font-family: $heading_family; font-weight: 300; margin-bottom: 0; }
    a {
        color: $bodygray;
        &:hover{ text-decoration:none; color: $orange; }
    }
    p { margin-bottom: 0; }
    .share-buttons { float: right; }
    .container{ background: $teal url(../images/teal-arrow-bg.png) repeat 50% 50%; }
    .navbar { margin-left: -$hbuffer; margin-right: -$hbuffer; margin-bottom: 0;}

}

.logo {
    display:block;
    background: transparent url(../images/logo.png) no-repeat 50% 50%;
    width: 240px;
    height: 80px;
}

/* bootstrap nav */
@mixin navtext($hoverbg:$brown) {
    font-family: $heading_family;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 18px;
    a, &.active a {
        line-height: 1;
        padding: 5px 15px;
        color: $red;
        outline: none;
        @include shadow(0 0 0 0);
    }
    &.dropdown > a.dropdown-toggle .caret { border-top-color: $red; border-bottom-color: $red; }
    & > a:hover, & > a:active, & > a:focus,
    &.active > a,
    &.dropdown > a.dropdown-toggle:hover,
    &.dropdown > a.dropdown-toggle:active,
    &.dropdown > a.dropdown-toggle:focus,
    &.dropdown.open > a.dropdown-toggle,
    &.dropdown.active > a.dropdown-toggle,
    &.dropdown.open.active > a.dropdown-toggle,
    &.dropdown.open > a.dropdown-toggle:hover,
    &.dropdown.active > a.dropdown-toggle:hover {
        color: #fff;
        background: $hoverbg;
        .caret { border-top-color: #fff; border-bottom-color: #fff; }
    }
}

.navbar{
    .navbar-inner {
        @include radius(0);
        @include shadow(0 0 0 0);
        background: #fff;
        border: none;
        min-height: 0;
    }
    .nav > li {
        @include navtext;
        & > .dropdown-menu {
            @include radius(0);
            @include shadow(0 6px 6px 0, rgba(0, 0, 0, 0.1));
            margin: 0;
            padding:0 0 5px;
            border: 1px solid $lightgray;
            border-top: none;
            &:before, &:after { display: none; }
            li {
                @include navtext;
                font-size: 16px;
                border-bottom: 1px solid $lightgray;
                &:last-child { border-bottom: none; }
            }
        }
    }
    .btn { margin: -8px 0; position:relative; z-index: 2; }
}

/* feature area */
#featured {
    .jumbotron {
        @include vpad;
        padding-bottom: 5em;
        background: $bg_feature;
        position:relative;
        h3 {
            font-size: 24px;
            color: $teal;
        }
    }
}

.homepage #content #featured {
    background: $bg_feature;
    .container, .jumbotron {
        background: $teal url(../images/teal-arrow-bg.png) repeat 50% 50%;
        &:before, &:after{
            height: 0;
            background: none;
            display: table;
        }
    }
    .jumbotron {
        @include ribbon;
        padding-bottom: 7em;
    }
}

/* content area */
#content {
    .container {
        background: $bg_contentarea url(../images/canvas-bg.png) repeat;
        &:after { @include dashed_line; }
    }
}

.tweets {
    border: 2px dashed $lightgray;
    border-top: none;
    background-color: rgba(230, 212, 184, 0.175);

    .timeline-wrap {
        // padding: 0 $hbuffer;
        // overflow: auto;
        // height: 400px;
    }
    .twitter-timeline { width: 100%; }
}

/* sponsors area */
.sponsors-inline {
    @include vertical_gradient("#{$bg_contentfooter} 0%, #fff 100%");
    h3, h4 { font-weight: normal; font-size: 19px; }
    h4 a { font-style: italic; }

    .container {
        @include vpad;
        @include vertical_gradient("rgba(225, 236, 236, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%", ", url(../images/canvas-bg.png)");
    }
    .sponsors { margin-top: $vbuffer; }
    .sponsor {
        display:block;
        text-align:center;
        img {vertical-align:middle;}
    }
}


/* footer */

.footer {
    position: relative;
    &:before {
        content:'';
        display:block;
        height: 11px;
        background: #fff url(../images/arrow-border-reversed.png) repeat-x;
    }
    &:after {
        content:'';
        position:absolute;
        top: 11px;
        width: 100%;
        height: 20px;
        background: $teal;
        opacity: 0.1;
    }
    .container {
        padding: 40px $hbuffer;
        @include vertical_gradient("rgba(213, 229, 227, 0.0) 60%, #{$bg_footer} 100%", ", url(../images/teal-arrow-bg.png)")

    }
}

/******************
 * Homepage Styles
 *****************/
 .homepage {
    .callouts {
        &:before { @include dashed_line; margin: 0 -$hbuffer; }
        & > div { @include vpad; padding-top: $vgutter; }
        h3 {
            font-style: italic;
            a{
                text-decoration: underline;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 31px;
                    height: 40px;
                    position: relative;
                    top: 6px;
                    right: 4px;
                    background: transparent url(../images/callout-hand.png) no-repeat 50% 50%;
                    background-size: contain;
                }
                &:after {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 22px;
                    position: relative;
                    top: -0.25em;
                    left: 4px;
                }
                &:after {
                    content: '»';
                    font: 300 50px/1 $heading_family;
                    color: $red;
                }
            }
            &.sponsor a:before {
                width: 37px;
                top: 8px;
                background-image: url(../images/callout-piggybank.png);
            }
            &.scholarships a:before {
                width: 42px;
                background-image: url(../images/callout-cap.png);
            }
            &.idea a:before{
                width: 22px;
                background-image: url(../images/callout-lightbulb.png);
            }
        }
        p { font-size: 16px; }
    }
 }


/***********************
 * Schedule Page Styles
 **********************/
.schedule-overview {
    tbody td {
        font-size: 17px;
        font-family: $heading_family;
        font-weight: 100;
        vertical-align: top;
    }
}
.session-group { display: table; }
.timeslot {
    display: table-row;
    h3 { font-size: 22px; }
    & > [class*="span"] { float: none; vertical-align: top; display: table-cell; border-bottom: 2px solid rgba(211, 209, 187, 0.75); padding-top: 20px; }
    .time {
        h3 { color: #fff; text-align: center; }
    }
    .time-wrap {
        border-right: 2px solid rgba(211, 209, 187, 0.75);
        background: $teal;
    }
    &:nth-child(even) .time-wrap {
        background: #709e97;
    }
    .detail {
        @include hpad;
        h3 { color: $teal; display:inline; }
        .meta { display: inline; padding-left: $hbuffer; }
    }
    .multi-header { border-bottom: 2px solid $bg_tan; margin-left: -$hbuffer; margin-right: -$hbuffer; padding: 0 20px 10px; }
    .multi {
        h4 { font-size: 16px; }
        .session { float: left; width: 48%; padding: 10px 1% }
        .detail {
            .meta {
                display: block;
                padding-left: 0;
                .speaker { float: left; }
                .location { float: right; }
            }
        }
    }
    .detail-wrap {
        background: #eaf3f0;
    }
    &:nth-child(even) .detail-wrap {
        background: #fff;
    }
}


/********************
 * Responsive Styles
 *******************/


