/**
 * Site-specific styles for TCamp.
 *
 * This file controls:
 * - site chrome (header/footer/jumbotron/etc.)
 * - form elements
 * - typography and colors
 * - all classes of page region
 *
 * General stuff comes from bootstrap.css
 * Site-specific layout comes from bootstrap-ext.css
 *
 */
/******************************
* Generic Styles for all pages
******************************/
/* fonts */
@font-face {
  font-family: 'ostrich';
  src: url("ostrich-bold-webfont.eot");
  src: url("ostrich-bold-webfont.eot?#iefix") format("embedded-opentype"), url("ostrich-bold-webfont.woff") format("woff"), url("ostrich-bold-webfont.ttf") format("truetype"), url("ostrich-bold-webfont.svg#ostrich_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* text colors */
/* background colors */
/* breakpoint definitions */
/* background gradients */
/* css3 junk */
/* horizontal space */
/* vertical space */
/* utilities */
.hpad {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.vpad {
  padding-top: 20px;
  padding-bottom: 20px; }

.module {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px; }

.right-edge {
  margin-right: -20px; }

.stripe {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.divider-right {
  border-right: 2px dashed #dddddd;
  padding-right: 20px;
  margin-right: -20px; }

.divider-left {
  border-left: 2px dashed #dddddd;
  padding-left: 20px;
  margin-left: -20px; }

.well {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: rgba(219, 219, 196, 0.6);
  border: 0;
  border-top: 3px solid #a3b059;
  border-bottom: 3px solid #a3b059;
  padding-right: 5px;
  margin-bottom: 0; }
  .well h3 a, .well h4 {
    font-style: italic; }
  .well h4 {
    font-weight: normal; }
  .well p {
    font-size: 16px; }

/* general */
html {
  background: #d5e5e3; }

body {
  background: #d5e5e3;
  font-family: georgia, serif; }

#content {
  background: #f1f2ec; }

h1, h2, h3, h4, h5, h6 {
  font: bold 19px/1.2 georgia, serif;
  color: #574227; }

h1 {
  font-family: "ostrich", impact, sans-serif;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.1; }

h2, h3 {
  font-family: "museo-slab", lucida, sans-serif;
  font-size: 32px;
  color: #438381; }

h3 {
  font-size: 24px;
  color: #829308;
  font-weight: normal; }

a {
  color: #ca6728; }
  a:hover {
    color: #9b2c1d; }

.btn, .btn-large, .btn-small {
  background: #e4aa09;
  font-family: "museo-slab", lucida, sans-serif;
  border: 4px solid #fff;
  border-radius: 0.75em;
  text-transform: uppercase;
  line-height: 1.25em;
  padding: 0.6em;
  -webkit-box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2); }
  .btn:hover, .btn-large:hover, .btn-small:hover {
    background: #ca6728; }
  .btn.btn-primary .icon, .btn-large.btn-primary .icon, .btn-small.btn-primary .icon {
    display: inline-block; }
  .btn.btn-primary .icon-forward, .btn-large.btn-primary .icon-forward, .btn-small.btn-primary .icon-forward {
    width: 28px;
    height: 18px;
    background: transparent url(../images/btn-icon-chevrons.png) no-repeat 50% 50%;
    background-size: contain;
    position: relative;
    top: -3px;
    margin-bottom: -10px; }
  .btn.btn-inverse, .btn-large.btn-inverse, .btn-small.btn-inverse {
    background: #9b2c1d; }
    .btn.btn-inverse:hover, .btn-large.btn-inverse:hover, .btn-small.btn-inverse:hover {
      background: #802416; }

.btn-large.btn-primary .icon-forward {
  width: 38px;
  height: 24px;
  top: -7px; }

.btn-small.btn-primary .icon-forward {
  width: 25px;
  height: 16px;
  top: -2px; }

.img-polaroid {
  padding: 4px;
  background: #fff;
  border: none;
  -webkit-box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.25);
  box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.25); }

table {
  -webkit-box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1); }

table.table-striped {
  width: 100%; }
  table.table-striped thead tr {
    background-color: #e8c755; }
  table.table-striped thead th {
    padding: 10px 0;
    font-family: "museo-slab", lucida, sans-serif;
    font-size: 22px;
    -webkit-box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.2); }
  table.table-striped thead th:nth-child(even) {
    background-color: #d9a322; }
  table.table-striped tbody td {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #574227; }
  table.table-striped tbody td:nth-child(even) {
    background-color: #fef7dc; }

.nav-tabs {
  border-bottom: 3px solid #d7d4c4; }
  .nav-tabs > li {
    font-family: "ostrich", impact, sans-serif;
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    opacity: 0.7;
    border: none;
    position: relative;
    margin-bottom: 0; }
    .nav-tabs > li > a {
      -webkit-box-shadow:  4px -4px 10px 0 rgba(0, 0, 0, 0.025);
      box-shadow:  4px -4px 10px 0 rgba(0, 0, 0, 0.025);
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 10px 20px;
      line-height: 1;
      background: #fff;
      border: none; }
      .nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
        background: #fff;
        color: #ca6728;
        border: none; }
    .nav-tabs > li.active {
      opacity: 1;
      border: none; }
      .nav-tabs > li.active a {
        -webkit-box-shadow:  4px -4px 10px 0 rgba(0, 0, 0, 0.075);
        box-shadow:  4px -4px 10px 0 rgba(0, 0, 0, 0.075);
        color: #ca6728;
        border: none; }
        .nav-tabs > li.active a:hover, .nav-tabs > li.active a:active, .nav-tabs > li.active a:focus {
          background: #fff;
          color: #ca6728;
          border: none; }
      .nav-tabs > li.active:after {
        content: '';
        border: 10px solid #fff;
        display: block;
        width: 0;
        height: 0;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-width: 0;
        position: absolute;
        left: 50%;
        margin-left: -10px; }

/* header */
.brandingbar {
  background: #f4f2e3; }
  .brandingbar:after {
    display: block;
    height: 11px;
    background: white url(../images/arrow-border.png) repeat-x;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    content: ''; }
  .brandingbar p {
    margin-bottom: 0; }

.sunlight-brand {
  padding: 20px;
  display: block;
  background: transparent url(../images/sunlight-brand.png) no-repeat 50% 50%;
  width: 160px; }

.masthead {
  background: #cfdfd9; }
  .masthead .row, .masthead .row-fluid {
    padding-top: 20px;
    padding-bottom: 20px; }
  .masthead .pull-right {
    text-align: right; }
  .masthead h4 {
    font-family: "museo-slab", lucida, sans-serif;
    font-weight: 300;
    margin-bottom: 0; }
  .masthead a {
    color: #222222; }
    .masthead a:hover {
      text-decoration: none;
      color: #ca6728; }
  .masthead p {
    margin-bottom: 0; }
  .masthead .share-buttons {
    float: right; }
  .masthead .container {
    background: #438381 url(../images/teal-arrow-bg.png) repeat 50% 50%; }
  .masthead .navbar {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0; }

.logo {
  display: block;
  background: transparent url(../images/logo.png) no-repeat 50% 50%;
  width: 240px;
  height: 80px; }

/* bootstrap nav */
.navbar .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow:  0 0 0 0 #111;
  box-shadow:  0 0 0 0 #111;
  background: #fff;
  border: none;
  min-height: 0; }
.navbar .nav > li {
  font-family: "museo-slab", lucida, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 18px; }
  .navbar .nav > li a, .navbar .nav > li.active a {
    line-height: 1;
    padding: 5px 15px;
    color: #9b2c1d;
    outline: none;
    -webkit-box-shadow:  0 0 0 0 #111;
    box-shadow:  0 0 0 0 #111; }
  .navbar .nav > li.dropdown > a.dropdown-toggle .caret {
    border-top-color: #9b2c1d;
    border-bottom-color: #9b2c1d; }
  .navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus, .navbar .nav > li.active > a, .navbar .nav > li.dropdown > a.dropdown-toggle:hover, .navbar .nav > li.dropdown > a.dropdown-toggle:active, .navbar .nav > li.dropdown > a.dropdown-toggle:focus, .navbar .nav > li.dropdown.open > a.dropdown-toggle, .navbar .nav > li.dropdown.active > a.dropdown-toggle, .navbar .nav > li.dropdown.open.active > a.dropdown-toggle, .navbar .nav > li.dropdown.open > a.dropdown-toggle:hover, .navbar .nav > li.dropdown.active > a.dropdown-toggle:hover {
    color: #fff;
    background: #44331f; }
    .navbar .nav > li > a:hover .caret, .navbar .nav > li > a:active .caret, .navbar .nav > li > a:focus .caret, .navbar .nav > li.active > a .caret, .navbar .nav > li.dropdown > a.dropdown-toggle:hover .caret, .navbar .nav > li.dropdown > a.dropdown-toggle:active .caret, .navbar .nav > li.dropdown > a.dropdown-toggle:focus .caret, .navbar .nav > li.dropdown.open > a.dropdown-toggle .caret, .navbar .nav > li.dropdown.active > a.dropdown-toggle .caret, .navbar .nav > li.dropdown.open.active > a.dropdown-toggle .caret, .navbar .nav > li.dropdown.open > a.dropdown-toggle:hover .caret, .navbar .nav > li.dropdown.active > a.dropdown-toggle:hover .caret {
      border-top-color: #fff;
      border-bottom-color: #fff; }
  .navbar .nav > li > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow:  0 6px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow:  0 6px 6px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0 0 5px;
    border: 1px solid #dddddd;
    border-top: none; }
    .navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
      display: none; }
    .navbar .nav > li > .dropdown-menu li {
      font-family: "museo-slab", lucida, sans-serif;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      font-size: 18px;
      font-size: 16px;
      border-bottom: 1px solid #dddddd; }
      .navbar .nav > li > .dropdown-menu li a, .navbar .nav > li > .dropdown-menu li.active a {
        line-height: 1;
        padding: 5px 15px;
        color: #9b2c1d;
        outline: none;
        -webkit-box-shadow:  0 0 0 0 #111;
        box-shadow:  0 0 0 0 #111; }
      .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle .caret {
        border-top-color: #9b2c1d;
        border-bottom-color: #9b2c1d; }
      .navbar .nav > li > .dropdown-menu li > a:hover, .navbar .nav > li > .dropdown-menu li > a:active, .navbar .nav > li > .dropdown-menu li > a:focus, .navbar .nav > li > .dropdown-menu li.active > a, .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle:hover, .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle:active, .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle:focus, .navbar .nav > li > .dropdown-menu li.dropdown.open > a.dropdown-toggle, .navbar .nav > li > .dropdown-menu li.dropdown.active > a.dropdown-toggle, .navbar .nav > li > .dropdown-menu li.dropdown.open.active > a.dropdown-toggle, .navbar .nav > li > .dropdown-menu li.dropdown.open > a.dropdown-toggle:hover, .navbar .nav > li > .dropdown-menu li.dropdown.active > a.dropdown-toggle:hover {
        color: #fff;
        background: #44331f; }
        .navbar .nav > li > .dropdown-menu li > a:hover .caret, .navbar .nav > li > .dropdown-menu li > a:active .caret, .navbar .nav > li > .dropdown-menu li > a:focus .caret, .navbar .nav > li > .dropdown-menu li.active > a .caret, .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle:hover .caret, .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle:active .caret, .navbar .nav > li > .dropdown-menu li.dropdown > a.dropdown-toggle:focus .caret, .navbar .nav > li > .dropdown-menu li.dropdown.open > a.dropdown-toggle .caret, .navbar .nav > li > .dropdown-menu li.dropdown.active > a.dropdown-toggle .caret, .navbar .nav > li > .dropdown-menu li.dropdown.open.active > a.dropdown-toggle .caret, .navbar .nav > li > .dropdown-menu li.dropdown.open > a.dropdown-toggle:hover .caret, .navbar .nav > li > .dropdown-menu li.dropdown.active > a.dropdown-toggle:hover .caret {
          border-top-color: #fff;
          border-bottom-color: #fff; }
      .navbar .nav > li > .dropdown-menu li:last-child {
        border-bottom: none; }
.navbar .btn {
  margin: -8px 0;
  position: relative;
  z-index: 2; }

/* feature area */
#featured .jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-bottom: 5em;
  background: #cfdfd9;
  position: relative; }
  #featured .jumbotron h3 {
    font-size: 24px;
    color: #438381; }

.homepage #content #featured {
  background: #cfdfd9; }
  .homepage #content #featured .container, .homepage #content #featured .jumbotron {
    background: #438381 url(../images/teal-arrow-bg.png) repeat 50% 50%; }
    .homepage #content #featured .container:before, .homepage #content #featured .container:after, .homepage #content #featured .jumbotron:before, .homepage #content #featured .jumbotron:after {
      height: 0;
      background: none;
      display: table; }
  .homepage #content #featured .jumbotron {
    padding-bottom: 7em; }
    .homepage #content #featured .jumbotron:before, .homepage #content #featured .jumbotron:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      width: 60%;
      height: 80px;
      left: -18px;
      background: transparent url(../images/ribbon-leftside.png) no-repeat 0 0; }
    .homepage #content #featured .jumbotron:after {
      right: -18px;
      left: auto;
      background: transparent url(../images/ribbon-rightside.png) no-repeat 100% 0; }

/* content area */
#content .container {
  background: #f1f2ec url(../images/canvas-bg.png) repeat; }
  #content .container:after {
    content: '';
    display: block;
    height: 4px;
    background: white url(../images/dashed-border.png) repeat-x; }

.tweets {
  border: 2px dashed #dddddd;
  border-top: none;
  background-color: rgba(230, 212, 184, 0.175); }
  .tweets .twitter-timeline {
    width: 100%; }

/* sponsors area */
.sponsors-inline {
  background-image: -webkit-linear-gradient(top, #e1ecec 0%, #fff 100%);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, #e1ecec 0%, #fff 100%);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #e1ecec 0%, #fff 100%);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #e1ecec 0%, #fff 100%);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }
  .sponsors-inline h3, .sponsors-inline h4 {
    font-weight: normal;
    font-size: 19px; }
  .sponsors-inline h4 a {
    font-style: italic; }
  .sponsors-inline .container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: -webkit-linear-gradient(top, rgba(225, 236, 236, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../images/canvas-bg.png);
    /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: -moz-linear-gradient(top, rgba(225, 236, 236, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../images/canvas-bg.png);
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, rgba(225, 236, 236, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../images/canvas-bg.png);
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, rgba(225, 236, 236, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../images/canvas-bg.png);
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }
  .sponsors-inline .sponsors {
    margin-top: 20px; }
  .sponsors-inline .sponsor {
    display: block;
    text-align: center; }
    .sponsors-inline .sponsor img {
      vertical-align: middle; }

/* footer */
.footer {
  position: relative; }
  .footer:before {
    content: '';
    display: block;
    height: 11px;
    background: white url(../images/arrow-border-reversed.png) repeat-x; }
  .footer:after {
    content: '';
    position: absolute;
    top: 11px;
    width: 100%;
    height: 20px;
    background: #438381;
    opacity: 0.1; }
  .footer .container {
    padding: 40px 20px;
    background-image: -webkit-linear-gradient(top, rgba(213, 229, 227, 0.0) 60%, #d5e5e3 100%), url(../images/teal-arrow-bg.png);
    /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: -moz-linear-gradient(top, rgba(213, 229, 227, 0.0) 60%, #d5e5e3 100%), url(../images/teal-arrow-bg.png);
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, rgba(213, 229, 227, 0.0) 60%, #d5e5e3 100%), url(../images/teal-arrow-bg.png);
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, rgba(213, 229, 227, 0.0) 60%, #d5e5e3 100%), url(../images/teal-arrow-bg.png);
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

/******************
 * Homepage Styles
 *****************/
.homepage .callouts:before {
  content: '';
  display: block;
  height: 4px;
  background: white url(../images/dashed-border.png) repeat-x;
  margin: -20px; }
.homepage .callouts > div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 40px; }
.homepage .callouts h3 {
  font-style: italic; }
  .homepage .callouts h3 a {
    text-decoration: underline; }
    .homepage .callouts h3 a:before {
      content: '';
      display: inline-block;
      width: 31px;
      height: 40px;
      position: relative;
      top: 6px;
      right: 4px;
      background: transparent url(../images/callout-hand.png) no-repeat 50% 50%;
      background-size: contain; }
    .homepage .callouts h3 a:after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 22px;
      position: relative;
      top: -0.25em;
      left: 4px; }
    .homepage .callouts h3 a:after {
      content: '»';
      font: 300 50px/1 "museo-slab", lucida, sans-serif;
      color: #9b2c1d; }
  .homepage .callouts h3.sponsor a:before {
    width: 37px;
    top: 8px;
    background-image: url(../images/callout-piggybank.png); }
  .homepage .callouts h3.scholarships a:before {
    width: 42px;
    background-image: url(../images/callout-cap.png); }
  .homepage .callouts h3.idea a:before {
    width: 22px;
    background-image: url(../images/callout-lightbulb.png); }
.homepage .callouts p {
  font-size: 16px; }

/***********************
 * Schedule Page Styles
 **********************/
.schedule-overview tbody td {
  font-size: 17px;
  font-family: "museo-slab", lucida, sans-serif;
  font-weight: 100;
  vertical-align: top; }

.session-group {
  display: table; }

.timeslot {
  display: table-row; }
  .timeslot h3 {
    font-size: 22px; }
  .timeslot > [class*="span"] {
    float: none;
    vertical-align: top;
    display: table-cell;
    border-bottom: 2px solid rgba(211, 209, 187, 0.75);
    padding-top: 20px; }
  .timeslot .time h3 {
    color: #fff;
    text-align: center; }
  .timeslot .time-wrap {
    border-right: 2px solid rgba(211, 209, 187, 0.75);
    background: #438381; }
  .timeslot:nth-child(even) .time-wrap {
    background: #709e97; }
  .timeslot .detail {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .timeslot .detail h3 {
      color: #438381;
      display: inline; }
    .timeslot .detail .meta {
      display: inline;
      padding-left: 20px; }
  .timeslot .multi-header {
    border-bottom: 2px solid #d7d4c4;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px 10px; }
  .timeslot .multi h4 {
    font-size: 16px; }
  .timeslot .multi .session {
    float: left;
    width: 48%;
    padding: 10px 1%; }
  .timeslot .multi .detail .meta {
    display: block;
    padding-left: 0; }
    .timeslot .multi .detail .meta .speaker {
      float: left; }
    .timeslot .multi .detail .meta .location {
      float: right; }
  .timeslot .detail-wrap {
    background: #eaf3f0; }
  .timeslot:nth-child(even) .detail-wrap {
    background: #fff; }

/********************
 * Responsive Styles
 *******************/
