Django==1.5
django-debug-toolbar
django-pdb
django-template-repl
django-grappelli
django-extensions>=1.3.3
django-devserver
bpython

boto>=2.8
django-compressor
django-storages==1.1.8
django-tastypie==0.9.16
django-disqus
django-honeypot
django-taggit==0.11.2
django-treenav==0.9.0
django-reversion==1.8.0
django-twilio==0.4.0
django-markdown-deux==1.0.5
django-markitup
django-markupfield==1.3.2
django-timedeltafield
python-dateutil==1.5
python-postmark
validictory
djutils
jsonfield==0.9.5
south

akismet
stemming
Markdown==2.6.1
requests
python-social-auth
python-flickr
python-twitter
python-openid
-e git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth
-e git://github.com/sunlightlabs/sfapp.git#egg=sfapp

gunicorn
gaffer
gevent
psycopg2
Pillow
pytz
fabric
pexpect
raven
python-memcached
dj-database-url
python-varnish
-e git://github.com/drinks/django-varnish.git#egg=varnishapp
-e git://github.com/dlrust/python-memcached-stats.git#egg=memcached_stats

django-bootstrap-toolkit
django-extras
django-localflavor
braintree
html2text
qrcode
shortuuid
django-admin-enhancer

redis
django-redis