Django==1.5
django-debug-toolbar
django-pdb
django-template-repl
django-grappelli
django-extensions
bpython

boto>=2.8
django-compressor
django-storages
django-tastypie
django-disqus
django-taggit
django-treenav
django-reversion
django-twilio
django-markdown-deux
django-markitup
django-timedeltafield
python-dateutil==1.5
python-postmark
validictory
djutils
jsonfield==0.9.5
south
-e git://github.com/jamesturk/django-markupfield.git#egg=markupfield

akismet
Markdown
python-social-auth
python-flickr
python-twitter
python-openid
-e git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth
-e git://github.com/sunlightlabs/sfapp.git#egg=sfapp

gunicorn
gaffer
gevent
psycopg2
PIL
pytz
fabric
pexpect
dj-database-url
python-varnish
-e git://github.com/drinks/django-varnish.git#egg=varnishapp
