#$ cp fabconfig.py.example fabconfig.py
REMOTE_HOSTS = ['54.204.249.97']
REMOTE_URL = 'http://transparencycamp.org/'

HOME_PATH = '/projects/tcamp'
WORKING_PATH = '%s/src' % HOME_PATH
VENV_PATH = '%s/virt' % HOME_PATH

CURRENT_DIR = 'current'
RELEASES_DIR = 'releases'
CHECKOUT_DIR = 'cached_copy'
SHARED_DIR = 'shared'
SHARED_FILES = ['tcamp/local_settings.py']  # location in src dir, expects to find just the file in SHARED_DIR

USER = 'tcamp'
SUDO_USER = 'ubuntu'
KEY_FILENAME = 'path/to/your/sshkey.pub'

GIT_URL = "https://github.com/sunlightlabs/tcamp.git"
GIT_BRANCH = "master"

PAST_RELEASES = 5

CACHE_TABLE_NAME = '' # If you're using database cache; In a try/except in the fabfile