<div class="row-fluid module">
    <div class="span7">
        <h1>Find your buddy!</h1>
        <h4>You took a wrong turn somewhere. Please turn around and find your way back to civilization.</h4>
    </div>
    
    <div class="span5">
        <div class="img-polaroid module">
            <a href="http://www.flickr.com/photos/sunlightfoundation/6984689672/" title="L&L at tcamp"><img src="http://farm8.staticflickr.com/7230/6984689672_fb9e3d47cf_z.jpg" alt="L&L at Tcamp 2012"></a>
        </div>
    </div>
</div>