<div class="row-fluid module">
    <div class="span7">
        <h1>Buck up, Camper!</h1>
        <h4>This is not the place for you. Please turn around and find your way back to civilization.</h4>
    </div>
    
    <div class="span5">
        <div class="img-polaroid module">
            <a href="http://www.flickr.com/photos/johnarthurw/7122326233/in/photostream" title="Nickos cupcake moment by johnarthurw, on Flickr"><img src="http://farm8.staticflickr.com/7079/7122326233_0a41db17e0_z.jpg" alt="Nicko's cupcake moment"></a>
        </div>
    </div>
</div>
