<!DOCTYPE html>
{% load compress staticfiles pages_tags treenav_tags cache %}
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% spaceless %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}TransparencyCamp{% endblock %}</title>

    {# <link rel="apple-touch-startup-image" href="{% static "images/Default-480h.png" %}?{{ CACHEBUSTER }}" media="(device-width: 320px) and (device-height: 480px)" sizes="320x460"> #}
    {# <link rel="apple-touch-startup-image" href="{% static "images/Default-480h@2x.png" %}?{{ CACHEBUSTER }}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" sizes="640x920"> #}
    {# <link rel="apple-touch-startup-image" href="{% static "images/Default-568h@2x.png" %}?{{ CACHEBUSTER }}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" sizes="640x1096"> #}
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    {# <meta name="apple-mobile-web-app-capable" content="yes"> #}
    {# <meta name="apple-mobile-web-app-status-bar-style" content="black" /> #}
    <link rel="apple-touch-icon" href="{{ APPLE_TOUCH_ICON }}?{{ CACHEBUSTER }}">

    <link rel="shortcut icon" href="{{ FAVICON }}?{{ CACHEBUSTER }}">
    <meta name="description" content="">
    <meta property="fb:app_id" content="{{ FB_APP_ID }}">
    <meta name="author" content="{% block meta_author %}The Sunlight Foundation{% endblock %}">
    <meta property="og:site_name" content="TransparencyCamp">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ SHARING_IMAGE }}?{{ CACHEBUSTER }}">
    {% block opengraph %}
    <meta property="og:title" content="{% chunk "og_title" %}">
    <meta property="og:description" content="{% chunk "og_description" %}">
    <meta property="og:url" content="{% chunk "og_url" %}">
    {% endblock opengraph %}

    {% comment %}
    <script>
    (function(window){
        if(window.navigator.standalone){
            // fetch previous page in webapp mode and return the user there.
            var prevloc = localStorage.getItem('webloc');
            if(prevloc && !prevloc.match(location.href)){
                location.href = prevloc;
            }
        }
    })(this);
    </script>
    {% endcomment %}

    {% compress css %}
    <link href="{% static "styles/bootstrap.css" %}?{{ CACHEBUSTER }}" rel="stylesheet" type="text/css">
    <link href="{% static "styles/bootstrap/responsive.css" %}?{{ CACHEBUSTER }}" rel="stylesheet" type="text/css">
    <link href="{% static "styles/app.css" %}?{{ CACHEBUSTER }}" rel="stylesheet" type="text/css">
    {% endcompress %}
    {% block css %}
    {% endblock css %}
    <script type="text/javascript" src="//use.typekit.net/jat1nrs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body {% block bodyattrs %}{% endblock %}>
    {% block container %}

    <header>
        {% block outerheader %}

        {% block brandingbar %}
        <div class="brandingbar">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <a class="btn btn-navbar menu-trigger hidden-desktop">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <p class="pull-right"><a class="hide-text sunlight-brand" href="http://sunlightfoundation.com">An unconference by <strong>The Sunlight Foundation</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock brandingbar %}
        <div class="masthead">
            <div class="container stripe">
                {% block header %}
                <div class="row-fluid siteheader">
                    {% chunk "siteheader" %}
                </div>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="nav-collapse collapse" id="menu">
                            <ul class="nav hidden-desktop">
                                <li><h4><a href="sms:1-202-817-2267">Text 202-817-CAMP (2267)</a></h4></li>
                                <li{% if request.path == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
                            </ul>
                            {% show_treenav "transparencycamp" full_tree="True" %}
                            {% if CURRENT_EVENT.registration_is_open %}
                            <form action="{{ CURRENT_EVENT.registration_url }}" class="navbar-form pull-right visible-desktop" method="get">
                                <button class="btn btn-primary" type="submit">Register! <span class="hide-text icon icon-forward">&raquo;</span></button>
                            </form>
                            <ul class="nav">
                                <li>
                                    <a class="hidden-desktop" href="{{ CURRENT_EVENT.registration_url }}">Register Now!</a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endblock header %}
            </div>
        </div>

        {% endblock outerheader %}
    </header>

    <div id="content">
        {% block outercontent %}
        <div class="container stripe">
        {% if messages %}
            <div class="row-fluid module collapse-bottom">
                <div class="span12">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
        </div>
        {% endblock outercontent %}
    </div>

    {% block contentfooter %}
    {% endblock %}

    <footer>
    {% block outerfooter %}
    <div class="footer">
        <div class="sf-footer container module stripe">
            {% block footer %}
            <div class="row-fluid">
                <div class="span12">
                    <h3>Sign up to learn more about TransparencyCamp!</h3>
                    <form action="/subscribe/" class="form-inline" method="post" id="sfapp-subscribe-form">
                        {% csrf_token %}
                        <input type="hidden" name="response" value="json">
                        <input type="text" name="email" placeholder="email address">
                        <input type="text" name="zipcode" placeholder="zip code">
                        <button type="submit" class="btn btn-inverse">Sign up!</button>
                    </form>
                </div>
            </div>
            {% endblock footer %}
        </div>
    </div>
    {% endblock outerfooter %}
    </footer>
    {% endblock container %}

    {% compress js %}
    <script src="{% static "scripts/underscore.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.throttle-debounce.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.fitvids.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.event.move.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/bootstrap.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "sfapp/js/sfapp.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/app.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    <script src="{% static "scripts/drawer-menu.js" %}?{{ CACHEBUSTER }}" type="text/javascript"></script>
    {% endcompress %}
    <script src="http://assets.sunlightfoundation.com.s3.amazonaws.com/social/scripts/simple-socialite-pack.min.js" type="text/javascript"></script>
    {% block js %}
    {% endblock js %}
    {% block analytics %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endblock %}
</body>
{% endspaceless %}
</html>