{% extends "base.html" %}

{% block bodyattrs %}class="with-jumbotron"{% endblock %}

{% block outercontent %}
<div id="featured">
    <div class="jumbotron container stripe">
        {% if messages %}
            <div class="row-fluid module">
                <div class="span12">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block jumbotron %}{% endblock %}
    </div>
</div>
<div class="container">
{% block content %}
{% endblock %}
</div>
{% endblock outercontent %}