<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
    <body>
        <p>
        <strong>{{ event.name }}</strong><br />
        {{ event.start_date|date:"l, N j" }}&ndash;{{ event.end_date|date:"l, N j, Y" }}<br />
        <a href="https://www.google.com/maps/place/Cleveland+Public+Library+-+Main+Library/@41.501174,-81.6939637,17z/data=!3m1!4b1!4m5!3m4!1s0x8830f06ac5602e37:0x3b02a0f65f8928d6!8m2!3d41.501174!4d-81.691775">
            Cleveland Public Library<br />
            Cleveland, OH
        </a>
        </p>
        {% block content %}{% endblock %}
    </body>
</html>