{% extends "base.html" %}
{% load sked_tags repl %}
{% load bootstrap_toolkit %}

{% block content %}
<div class="row-fluid module collapse-bottom">
    <div class="span12">
        <h1>Register for TCamp</h1>
    </div>
</div>
<div class="row module">
    <div class="span8">
        <h2>Tickets</h2>
        <table class="table ticket-types">
            <thead>
                <tr>
                    <th>Ticket Type</th><th>Sales End</th><th>Price</th><th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for type in ticket_types %}
                <tr data-type-id="{{ type.id }}" data-type-price="{{ type.price }}">
                    <td>
                        <span class="ticket-name">{{ type.name }}</span>
                        {% if type.description %}
                        <a href="#" data-toggle="popover" title="{{ type.name }}" data-content="{{ type.description }}"><i class="icon-info-sign"></i></a>
                        {% endif %}
                    </td>
                    <td>{% if type.expires %}{{ type.expires|date:"N j, Y" }}{% else %}<em>None</em>{% endif %}</td>
                    <td>{% if type.price > 0 %}${{ type.price }}{% else %}Free{% endif %}</td>
                    <td>
                        {% if type.is_expired %}
                            <span class="text-danger">Sale Over</span>
                        {% elif type.is_sold_out %}
                            <span class="text-danger">Sold Out</span>
                        {% else %}
                            <select class="input-small ticket-qty">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="ticket-form-container">
            <h2>Attendee Information</h2>
            <div class="accordion" id="ticket-forms">
                {% for type in ticket_types %}
                <span class="ticket-sentinel-{{ type.id}}"></span>
                {% endfor %}
            </div>

            <div class="text-right">
                <div class="coupon">
                    Coupon Code: <input class="input-small" type="text" id="id_coupon_code" name="coupon_code" /> <a href="#" id="apply-coupon" class="btn btn-small">Apply</a>
                </div>
                <div class="lead">
                    Total: $<span class="total-price">0</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="ticket-form-tpl">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#ticket-forms"></a>
        </div>
        <div class="accordion-body collapse">
            <div class="accordion-inner">
                {% include "reg/partials/ticket_form.html" %}
            </div>
        </div>
    </div>
</script>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
(function() {
    $('.ticket-types a[data-toggle=popover]').popover();

    // show/hide of diet descriptions
    _.each(['diet_allergies', 'diet_other'], function(dtype) {
        var change = function(event) {
            var checkbox = $(event.target);
            var textarea = checkbox.parents('.row').find('textarea[name=' + dtype + '_desc]').parents('.control-group');
            if (checkbox.is(':checked')) {
                if (textarea.is(':hidden')) textarea.slideDown('fast');
            } else {
                if (textarea.is(':visible')) textarea.slideUp('fast');
            }
        }
        $('#ticket-forms').on('change', 'input[name=' + dtype + ']', change).trigger('change');
    })

    var updatePrice = function() {
        var tickets = {};
        $('.ticket-types tbody tr').each(function(idx, el) {
            var $el = $(el);
            var id = $el.attr('data-type-id');
            var qty = parseInt($el.find('select.ticket-qty').val());
            tickets[parseInt(id)] = qty;
        });
        var data = {'tickets': tickets};

        var code = $('#id_coupon_code').val();
        if (code.length) data['coupon'] = code;

        $.ajax({
            url: '/register/price/',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(data) {
                $('.total-price').html(data['price']);
            }
        });
    }

    $('#apply-coupon').click(function(evt) {
        evt.preventDefault();
        updatePrice();
    })


    // add the right number of forms
    $('.ticket-types select').change(function() {
        $('.ticket-types tbody tr').each(function(idx, el) {
            var $el = $(el);
            var id = $el.attr('data-type-id');
            var qty = parseInt($el.find('select.ticket-qty').val());

            // how many are there now?
            // var group = $(".ticket-group-" + id);
            var group = $('#ticket-forms');
            var cqty = group.find('.accordion-group[data-ticket-id=' + id + ']').length;
            if (cqty < qty) {
                var tpl = $("#ticket-form-tpl").html();

                if (cqty == 0) {
                    var sentinel = group.find('.ticket-sentinel-' + id);
                } else {
                    var sentinel = group.find('.accordion-group[data-ticket-id=' + id + ']').slice(-1);
                }

                // add some more
                for (var i = cqty + 1; i <= qty; i++) {
                    var row = $(tpl);
                    row.attr('data-ticket-id', id);
                    row.find('.accordion-toggle').html($el.find('.ticket-name').html() + ' #' + i).attr('href', '#collapse-' + id + '-' + i);
                    row.find('.accordion-body').attr('id', 'collapse-' + id + '-' + i);
                    sentinel.after(row);
                    row.find('.diet-special input').trigger('change');

                    sentinel = row;
                }
            } else if (cqty > qty) {
                group.find('.accordion-group[data-ticket-id=' + id + ']').slice(qty).remove();
            }
        })
        
        $('#ticket-forms .collapse').eq(0).collapse('show');
        updatePrice();
    });
})();
</script>
{% endblock %}