{% extends "base.html" %}
{% load sked_tags repl %}

{% block content %}
<div class="row-fluid module collapse-bottom">
    <div class="span12">
        <h1>Register for TCamp</h1>
    </div>
</div>
<div class="row-fluid module collapse-both">
    <div class="span8">
        <h2>Tickets</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Ticket Type</th><th>Sales End</th><th>Price</th><th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for type in ticket_types %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td>{% if type.expires %}{{ type.expires|date:"N j, Y" }}{% else %}<em>None</em></td>
                    <td>{% if type.price > 0 %}${{ type.price }}{% else %}Free{% endif %}</td>
                    <td>
                        {% if type.is_expired %}
                            <span class="text-danger">Sale Over</span>
                        {% elif type.is_sold_out %}
                            <span class="text-danger">Sold Out</span>
                        {% else %}
                            <select>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>