{% extends "base.html" %}
{% load sked_tags repl %}
{% load bootstrap_toolkit %}

{% block bodyattrs %}{{block.super}} class="registration"{% endblock %}

{% block content %}
<div class="row-fluid module collapse-bottom">
    <div class="span12">
        <h1>Thanks for registering!</h1>
    </div>
</div>
<div class="row module">
    <div class="span8">
        <p>Congratulations, you are registered for TCamp 2014!</p>
        <p>We're so glad you're planning to join us May 30th and 31st, and hope you'll help us spread the word to other great folks by sharing this event with your friends.</p>
        <p>Got ideas or questions about TransparencyCamp? Send a tweet to <a href="https://twitter.com/TCampDC">@TCampDC</a> or <a href="https://twitter.com/search?q=%23tcamp14">#TCamp14</a> and we'll answer.</p>
    </div>
</div>

{% endblock %}