{% load sked_tags %}
<div class="row-fluid timeslot">
    <div class="time-wrap">
        <div class="time">
            <h3>{{ sessions.grouper|date:"h:i a" }}</h3>
        </div>
    </div>
    <div class="detail-wrap">
        <div class="detail">
            {% if sessions.list|length == 1 %}
            {# This is a standalone session #}
                <h3><a href="{% url "sked:session_detail" event.slug sessions.list.0.slug %}">{{ sessions.list.0.title }}</a></h3>
                <p class="meta"><strong>{{ sessions.list.0.location.name }}</strong></p>
            {% else %}
            {# This is a session block. Print a header and then a grid of sessions #}
            <div class="row-fluid multi-header">
                <div class="span12">
                    <h3 id="{{ day|date:"m-d" }}_session{{ sessionnum }}"><a href="#{{ day|date:"m-d" }}_session{{ sessionnum }}">Session {{ sessionnum }}</a></h3>
                </div>
            </div>
            <div class="row-fluid multi">
                <ul class="unstyled clearfix span12">
                    {% for session in sessions.list %}
                    <li class="session">
                        <h4><a href="{% url "sked:session_detail" event.slug session.slug %}">{{ session.title }}</a></h4>
                        <p class="meta">
                            <span class="speaker">{{ session.speaker_names }}</span>
                            <span class="location">{{ session.location.name }}</span>
                        </p>
                    </li>
                    {% empty %}
                    <li class="span12"><h4>There are no sessions in this time slot.</h4></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>