{% load bootstrap_toolkit %}

<form role="form">
    {{ ticket_form.type.as_hidden }}
    <div class="row">
        <div class="span3">
            {{ ticket_form.first_name|as_bootstrap }}
        </div>
        <div class="span3">
            {{ ticket_form.last_name|as_bootstrap }}
        </div>
    </div>
    <div class="row email-row">
        <div class="span8">
            {{ ticket_form.email|as_bootstrap }}
        </div>
    </div>

    <div class="control-group"></div>

    <div class="row">
        <div class="span3">
            {{ ticket_form.organization|as_bootstrap }}
        </div>
        <div class="span3">
            {{ ticket_form.title|as_bootstrap }}
        </div>
    </div>

    <div class="row">
        <div class="span3">
            {{ ticket_form.twitter|as_bootstrap }}
        </div>
        <div class="span3">
            {{ ticket_form.website|as_bootstrap }}
        </div>
    </div>

    <div class="row">
        <div class="span8 control-label">Do you have any special dietary needs?</div>
    </div>
    <div class="row">
        <div class="span2 simple-option">
            {{ ticket_form.diet_vegetarian|as_bootstrap }}
        </div>
        <div class="span2 simple-option">
            {{ ticket_form.diet_vegan|as_bootstrap }}
        </div>
        <div class="span2 simple-option">
            {{ ticket_form.diet_gluten_free|as_bootstrap }}
        </div>
    </div>
    <div class="row diet-special simple-option">
        <div class="span3">
            {{ ticket_form.diet_allergies|as_bootstrap }}
            {{ ticket_form.diet_allergies_desc|as_bootstrap }}
        </div>
        <div class="span3 simple-option">
            {{ ticket_form.diet_other|as_bootstrap }}
            {{ ticket_form.diet_other_desc|as_bootstrap }}
        </div>
    </div>

    {% comment %}
    <div class="row">
        <div class="span8 control-label">Which days of TCamp do you plan to attend?</div>
    </div>
    <div class="row">
        <div class="span1 simple-option">
            {{ ticket_form.attend_day1|as_bootstrap }}
        </div>
        <div class="span1 simple-option">
            {{ ticket_form.attend_day2|as_bootstrap }}
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="ambassador-group">
        <div class="label-help">The greatest strength of TCamp is the collaborative community we build together at the event. To help first-time attendees get the full benefit of that community, we are pairing first- time attendees with seasoned TCamp veterans who will be their ambassadors into the community. Perks include: meeting new folks, making strong connections and some nomsy noms.</div>
        {{ ticket_form.ambassador_program|as_bootstrap }}
    </div>
    <div class="lobby-group">
        <div class="label-help">The Sunlight Network’s Citizen Advocacy Day is a great way to let your members of Congress know how important a transparent government is to you. Join us for breakfast and a briefing on Capitol Hill on Thursday, May 29 before going to the offices of your senators and representative to discuss transparency issues like better lobbying disclosure, smarter open data and mandatory electronic filing of campaign finance reports.</div>
        {{ ticket_form.lobby_day|as_bootstrap }}
    </div>
    {% endcomment %}

    {{ ticket_form.subscribe|as_bootstrap }}

    <div class="row">
        <div class="span4 text-right pull-right">
        <a href="#" class="btn btn-mini prev-ticket"><i class="icon-chevron-up icon-white"></i> Previous Ticket</a> <a href="#" class="btn btn-mini next-ticket">Next Ticket <i class="icon-chevron-down icon-white"></i></a>
    </div>
</form>